html {
  scroll-snap-type: y mandatory;
}

.App {
  background-color: black;
  height: 100%;
  width: 375px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: static;
  /*bottom: 0;*/
}

/*@media only screen and (min-device-width: 380px) and (max-device-width: 1360px) and (orientation:landscape) {*/
/*  .App {*/
/*    height: 812px;*/
/*  }*/
/*}*/

/*@media only screen and (min-device-width: 1366px) and (max-device-width: 1920px) and (orientation:landscape) {*/
/*  .App {*/
/*    height: 812px;*/
/*  }*/
/*}*/



/*@media only screen and (max-device-width: 379px) {*/
/*  .App {*/
/*    background-color: red;*/
/*  }*/
/*}*/

/*@media only screen and (min-device-width: 380px) and (max-width: 519px){*/
/*  .App {*/
/*  background-color: dimgrey;*/
/*  }*/
/*}*/

/*@media only screen and (min-width: 520px) and (max-width: 1365px) {*/
/*  .side-bar {*/
/*    background-color: #580126;*/
/*  }*/
/*}*/

/*@media only screen and (min-width: 1366px) {*/
/*  .side-bar {*/
/*    background-color: #dea484;*/
/*  }*/
/*}*/
