.auth-page {
    background-color: black;
    color: white;
    padding: 0 0 10vh;
}
.appInfo {
    margin: 5vh 10vh;
}
.logoDiv{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.logoDiv img {
    height: 25vh;
}
.auth-page button {
    width: 45%;
    background-color: #36064c;
}

.auth-page button:hover {
    background-color: #66058c !important;
}

.auth-page .toggleBtn {
    margin: 0 0.9vh;
}
.btn-group {
    padding-bottom: 30px;
}
.authFormDiv {
    padding: 0 4vh;
}