.profile-display {
    text-align: center;
    padding-bottom: 6vh;
    background-color: #686868;
    width: 375px;
}

.circle {
    height: 15vh;
    width: 15vh;
}

.ig-url {
    font-size: 15px;
}

.personal-url {
    font-size: 15px;
}