.video-avi {
    margin-left: 10%;
}

.like-btn {
    margin-top: 40%;
}

.share-btn {
    margin-top: 30%;
}

.side-bar p {
    margin-top: -1.7vh;
    padding-left: 1.8vh;
    text-align: center;
    font-weight: bold;
    color: white !important;
}



@media only screen and (max-device-width: 375px) {
    .side-bar {
        position: absolute;
        z-index: 1;
        bottom: 20%;
        right: 12%;
        width: 30px;
    }
}

@media only screen and (min-device-width: 376px) {
    .side-bar {
        position: absolute;
        z-index: 1;
        bottom: 20%;
        right: 15%;
        width: 30px;
    }
}

@media only screen and (min-device-width: 500px) {
    .side-bar {
        position: absolute;
        z-index: 1;
        bottom: 20%;
        right: 18%;
        width: 30px;
    }
}


@media only screen and (min-device-width: 1200px) {
    .side-bar {
        position: absolute;
        z-index: 1;
        bottom: 20%;
        right: 43%;
        width: 30px;
    }
    .video-avi {
        margin-left: 20%;
    }

    .like-btn {
        margin-top: 50%;
    }

    .share-btn {
        margin-top: 30%;
    }
}