.videos {
    /* background-color: black; */
    width: auto;
    padding-bottom: 9.9vh;
}

.Video-Container {
    position: relative;
    height: 93vh;
    overflow: hidden;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
}

.videoPlayer {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.videoFooter {
    position: absolute;
    bottom: 10%;
    margin-left: 2vh;
}

.videoFooter-text {
    text-align: left;
    font-weight: bolder;
    font-size: small;
    color: white;
    text-shadow: 1px 1px 10px black;
}