.videos {
    background-color: #c49e9e;
    width: auto;
    height: 93.2vh;
}

.videoPlayer {
    width: 100%
}

.videoFooter {
    position: absolute;
    bottom: 10%;
    margin-left: 2vh;
}

.videoFooter-text {
    text-align: left;
    font-size: small;
    color: black;
}