.videos {
    background-color: #c49e9e;
    width: auto;
    height: 93vh;
}

.Video-Container {
    position: relative;
    height: 93vh;
}

.videoPlayer {
    height: 93vh;
}

.videoFooter {
    position: absolute;
    bottom: 10%;
    margin-left: 2vh;
}

.videoFooter-text {
    text-align: left;
    font-weight: bolder;
    font-size: small;
    color: white;
    text-shadow: 1px 1px 10px black;
}